
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden;
}

#terminal {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enables scrolling */
    max-height: 400px; /* Adjust this based on your design */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: gray black; /* Scrollbar styling */
}

#output {
    margin-bottom: 10px;
    white-space: pre-wrap;
}

#command-line {
    display: flex;
    align-items: center;
}

#prompt {
    color: #e008e7;
    margin-right: 5px;
}

.subdir-path {
    color: #0088ff;
}

#command-input {
    flex: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    outline: none;
}

.folder {
    color: #44D544;
    font-weight: bold;
}

.file {
    color: #fff;
}

.completed {
    color: #44D544;
    font-weight: bold;
}

.not-completed {
    color: #ff3300;
    font-weight: bold;
}

